package templates


templ Index() {
<html>

<head>
  <meta charset="UTF-8" />
  <title>GoTTH</title>
  <link href="/css/output.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/1761c236e1.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
</head>

<body>
</body>

</html>
}
